// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


/* Non-reset code under this */


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,300&display=swap');

// light & bold fonts^

@normalfont: 'Montserrat', sans-serif; //base font

@resumenamecolor: #FBFBFB;

@resumetopiccolor: #445E70;

@resumeinfotextcolor: #2C3D4C;

*{
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	font-family: @normalfont;
}

#toplinks{

	display:flex;
	justify-content: center;
	margin-top: 5%;
	margin-bottom: 2%;

	nav {
		display:flex;
		a {
		text-decoration: none;
		color: black;
		font-size: 2rem;
		padding-right: 5%;
		}
	}
}

#resume {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 0 0 80%; // need to fix; word doesn't wrap idk why
	font-size: 1.6rem;
	flex-wrap: wrap;

	#topdiv {

		//background: url("/images/resume-background.jpg"); // Not working???

		h1 {

			color: @resumenamecolor;

		}

		h3 {

			color: @resumenamecolor;

		}

	}

	#lowerdivs {

		display: flex;
		flex-direction: row;


		#leftdiv {
			
			display:flex;
			flex-direction: column;

		}

		#rightdiv {

			display: flex;
			flex-direction: column;

		}


	}

}

h1 {
	font-size: 4.8rem;
}

h3 {
	font-size: 2.5rem;
}
